---
import type Publication from "../Publication";

interface Props {
	publication: Publication;
}

const publicationsBasePath: string = import.meta.env.BASE_URL;
const pub = Astro.props.publication;
---
<p class="font-bold">{pub.title}</p>
<p>{pub.authors}</p>
<p>
	<span class="italic">In {pub.journal}</span>
	{pub.award && <span>- <strong>{pub.award}</strong></span>}
</p>
<div class="flex gap-1">
	{pub.url && <a href={pub.url} target="_blank">[Publisher site]</a>}
	{pub.pdfPath && <a href={publicationsBasePath + pub.pdfPath} target="_blank">[PDF]</a>}
</div>

<style>
	a {
		@apply text-blue-600;
	}
</style>
